{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('courses_page') }}" method="get">
  <input
    type="text"
    name="query"
    placeholder="Search for courses..."
    required
    class="search-bar"
  />
  <button type="submit" class="search-submit">Search</button>
</form>
<div class="products-container">
  {% for course in courses %}
  <div class="wrapper">
    <div class="card">
      <div class="image">
        <a href="{{ url_for('course_details', course_id=course.id) }}">
          <img
            src="{{ url_for('static', filename=course.file) }}"
            alt="Course Image"
          />
        </a>
      </div>
      <div>
        <h3>{{ course.name }}</h3>
        <p>${{ '%.2f' % course.price }}</p>
        <form
          action="{{ url_for('add_to_cart', product_id=course.id) }}"
          method="post"
        >
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
