{% extends 'base.html' %} {% block content%}
<div class="wrapper-hero">
  <div class="hero-info">
    <h1>
      "Explore, Learn, <br />
      and Grow <br />
      – Master New Skills with Our Online Courses."
    </h1>
    <div>
      <img src="../static/assets/pexels-roman-odintsov-5912280.jpg" alt="" />
    </div>
  </div>
  <div>
    <p>
      "Our platform provides everything you need to elevate your expertise –
      online courses designed to fuel your creativity and knowledge."
    </p>
    <div class="hero-btns">
      <button><a href="courses">Get Started</a></button>
      <button><a href="about" class="more-btn">View More</a></button>
    </div>
  </div>
</div>

<!-- start of the popular_products section -->
<div class="carousel-wrap">
  <div class="carousel">
    <div>
      {% for popular_product in popular_products %}
      <span>
        <img
          src="{{ url_for('static', filename=popular_product['image']) }}"
          alt=""
          style="border-radius: 10px; margin-top: 10px"
        />
        <h2 class="carousel-title">{{ popular_product.title }}</h2>
        <p>{{ popular_product.description }}</p>
        <div style="display: flex; gap: 10px">
          <h4>{{ popular_product.review }}</h4>
          <h5>{{ popular_product.views }}</h5>
        </div>
        <div>
          <h4 style="margin-top: -15px; font-size: 13px" class="certificate">
            {{ popular_product.certificate }}
          </h4>
        </div>
      </span>
      {% endfor %}
    </div>

    <div>
      {% for popular_product_2 in popular_products_2 %}
      <span>
        <img
          src="{{ url_for('static', filename=popular_product_2['image']) }}"
          alt=""
          style="border-radius: 10px; margin-top: 10px"
        />
      </span>
      {% endfor %}
    </div>
    <div>
      {% for popular_product_3 in popular_products_3 %}
      <span>
        <img
          src="{{ url_for('static', filename=popular_product_3['image']) }}"
          alt=""
          style="border-radius: 10px; margin-top: 10px"
        />
      </span>
      {% endfor %}
    </div>
  </div>
  <!-- end of the popular_products section -->
  <div class="carousel-btns">
    <img
      src="../static/assets/icons8-arrow-50 (1).png"
      alt="arrow-btn"
      id="backBtn"
    />
    <img
      src="../static/assets/icons8-arrow-50.png"
      alt="arrow-btn"
      id="nextBtn"
    />
  </div>
</div>

<!-- start of the why choose us section -->
<div class="introduction-container">
  <h3>WHY CHOOSE US</h3>
  <h1>lorem a ipsum dolor sit amet dolor</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
    Quas, modi? Magni eaque iusto ad corporis laboriosam deserunt, deleniti
    soluta modi assumenda.
  </p>
</div>
<div class="choose-us-section">
  <div class="wrapper-choose-us">
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
    <div class="card-choose-us">
      <img src="../static/assets/icons8-graduation-50.png" alt="" />
      <h3>lorem ipsum dolor sit</h3>
      <p>
        Potential customers want to know that they are <br />
        being taught by knowledgeable and <br />
        experienced professionals, so emphasizing expert <br />
        instructors helps build credibility and trust.
      </p>
      <div class="line"></div>
    </div>
  </div>
</div>
<!-- end of the why choose us section -->

<!-- start of the subscription section -->
<div class="subscription-container">
   <div class="subscription-introduction">
      <h2>Smart Spending for <br> Greater Savings</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ex quod aperiam praesentium consectetur saepe.</p>
    </div>
  <div class="subscription-wrapper">
   
    <div class="subscription-card">
      <img src="" alt="" />
      <h4>Basic Plan:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing <br />
        elit. Magni, pariatur possimus!
      </p>
      <div class="price-container">
        <h2>$12</h2>
        <h5>/Per Month</h5>
      </div>
      <button>Get Started</button>
      <div class="features-list">
        <h4>Added Features:</h4>
        <div>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum.</h4>
        </div>
      </div>
    </div>
    <div class="subscription-card">
       <img src="" alt="" />
      <h4>Basic Plan:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing <br />
        elit. Magni, pariatur possimus!
      </p>
      <div class="price-container">
        <h2>$12</h2>
        <h5>/Per Month</h5>
      </div>
      <button>Get Started</button>
      <div class="features-list">
        <h4>Added Features:</h4>
        <div>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum.</h4>
        </div>
      </div>
    </div>
    <div class="subscription-card">
        <img src="" alt="" />
      <h4>Basic Plan:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing <br />
        elit. Magni, pariatur possimus!
      </p>
      <div class="price-container">
        <h2>$12</h2>
        <h5>/Per Month</h5>
      </div>
      <button>Get Started</button>
      <div class="features-list">
        <h4>Added Features:</h4>
        <div>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum dolor.</h4>
          <h4>Lorem, ipsum.</h4>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- end of the subscription section -->


<!-- start of the footer section -->

<footer>
  <div class="wrapper-footer">
    
  </div>
</footer>

<!-- end of the footer section -->
      {% endblock %}
    </div>
  </div>
</div>
